body {
    /* removes default margin applied to page */
    margin: 0px;
}

.container {
    display: grid;
    /* 100vh ensures the grid covers the entire page by setting 
    its single row to cover the entire page's height */
    grid-template: 100vh / 1fr 5fr;
}

.sidebar {
    background-color: rgb(30, 30, 119);

}

.page-content {
    background-color: rgb(139, 25, 25);
    display: grid;
    grid-template-rows: 1fr 4fr;
}

.header {
    background-color: yellow;
    
}

.main-content{
    background-color: green;
}